

{% extends 'aplicacion/base.html' %}

{% block content %}
    <div class="post">
        <h3>Información guardada: <h3>
            <script>
                swal("Felicidades!", "Los datos han sido guardado con éxito", "success");
            </script>
            


        <table class="table table-bordered">
            <tr>
                <td><strong>Título :</strong></td>
                <td>{{ gastos_a.titulo }}</td>
              </tr>
            <tr>
              <tr>
                <td><strong>Monto:</strong></td>
                <td>{{ gastos_a.monto }}</td>
              </tr>
            
            <tr>

                <td><strong>Fecha:</strong></td>
                <td>{{ gastos_a.fecha_cobro }}</td>
              </tr>
            
            <tr>
              <td><strong>Recurrente:</strong></td>
              <td>{{ gastos_a.recurrente }}</td>
            </tr>
            
            <tr>
              <td><strong>Prioridad:</strong></td>
              <td>{{ gastos_a.prioridad }}</td>
            </tr>
            
            <tr>
              <td><strong>Categoría:</strong></td>
              <td>{{ gastos_a.categoria }}</td>
            </tr>
            <tr>
                <td><strong>Descripción:</strong> </td>
                <td>{{ gastos_a.descripcion|linebreaksbr }}</td>
              </tr>
        </table>

    </div>
{% endblock %}