{% extends 'aplicacion/base.html' %}


{% block content %}

<div class="dropdown-menu" aria-labelledby="navbarDropdown2">
	<a class="dropdown-item" href="#">Action</a>
	<a class="dropdown-item" href="#">Another action</a>
	<div class="dropdown-divider"></div>
	<a class="dropdown-item" href="#">Something else here</a>
  </div>

  	<p class="highcharts-description">
		Este gráfico está construido con ingresos y gastos no registrados en la base de datos (solo para visualizar)
	</p>
	<div id="container"></div>
	<div id="main-container">
		
		<div>
			<h1>Detalle Movimientos</h1>
		</div>
		
		<div class="dropdown-resumen">
			<label for="daterange">Mostrar: </label>
			<select id="data-range" name="data-range" required>
				<option value="1">Últimos 7 días</option>
				<option value="2" selected>Últimos 30 días</option>
				<option value="3">Últimos 60 días </option>
			</select><br>
		</div>
		<script>
			var selected = document.getElementById('data-range').value;
		</script>

	

	<table id="table_resumen">
		<thead>
			<tr>
				<th>Descripción</th><th>Categoría</th><th>Fecha</th><th>Costo</th>
			</tr>
		</thead>
		<tbody>
		{% for gast in gastos_o %}
		<tr>
			<td>{{ gast.titulo }}</td><td>{{gast.categoria}}</td><td>{{ gast.fecha_cobro}}</td><td>{{gast.monto}}
			</td>
		</tr>
		{% endfor %}
		</tbody>	
	</table>
	
	<figure class="highcharts-figure">
		<table id="datatable" style="display:none;">
			<thead>
				<tr>
					<th></th>
					<th>Gastos</th>
					<th>Ingresos</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Julio</th>
					<td>104</td>
					<td>401</td>
				</tr>
				<tr>
					<th>Agosto</th>
					<td>768</td>
					<td>634</td>
				</tr>
				<tr>
					<th>Septiembre</th>
					<td>201</td>
					<td>502</td>
				</tr>
				<tr>
					<th>Octubre</th>
					<td>372</td>
					<td>1 035</td>
				</tr>
			</tbody>
		</table>
	</figure>
	
	</div>
	<div>
		<script>
			Highcharts.chart('container', {
				data: {
					table: 'datatable'
				},
				chart: {
					type: 'column'
				},
				title: {
					text: 'Resumen Movimientos'
				},
				xAxis: {
					type: 'Mes',
					categories: ['Julio', 'Agosto','Septiembre', 'Octubre']
				},
				
				yAxis: {
					allowDecimals: false,
					title: {
						text: 'Monto (clp)'
					}
				},
			});
	
		</script>
		
	</div>
{% endblock %}
