{% extends 'aplicacion/base.html' %}

{% block content %}

<!-- <br></br> -->

<div class="parent">
	<div class="child0">
	<div id="main-container">
		<div id="titulo_tabla">
			<h1><u>Detalle Movimientos</u></h1>
		</div>
		<div>
			<label for="daterange">Mostrar: </label>
			<select id="data-range" onchange="selection();">
				<option value="1">Últimos 7 días</option>
				<option value="2" selected>Últimos 30 días</option>
				<option value="3">Últimos 60 días </option>
				<option value="4">Este año</option>
			</select><br>
		</div>

<table id="table_resumen1" style="display:none;">
	<thead>
		<tr>
			<th>Descripción</th><th>Categoría</th><th>Fecha</th><th>Costo</th>
		</tr>
	</thead>
	{% for gast in gastos1 %}
	<tr>
		<td>{{ gast.titulo }}</td><td>{{gast.categoria}}</td><td>{{ gast.fecha_cobro}}</td><td>{{gast.monto}}
		</td>
	</tr>
	{% endfor %}
</table>	

<table id="table_resumen2" style="display:none;">
	<thead>
		<tr>
			<th>Descripción</th><th>Categoría</th><th>Fecha</th><th>Costo</th>
		</tr>
	</thead>
	{% for gast in gastos2 %}
	<tr>
		<td>{{ gast.titulo }}</td><td>{{gast.categoria}}</td><td>{{ gast.fecha_cobro}}</td><td>{{gast.monto}}
		</td>
	</tr>
	{% endfor %}
</table>	

<table id="table_resumen3" style="display:none;">
	<thead>
		<tr>
			<th>Descripción</th><th>Categoría</th><th>Fecha</th><th>Costo</th>
		</tr>
	</thead>
	{% for gast in gastos3 %}
	<tr>
		<td>{{ gast.titulo }}</td><td>{{gast.categoria}}</td><td>{{ gast.fecha_cobro}}</td><td>{{gast.monto}}
		</td>
	</tr>
	{% endfor %}
</table>

<table id="resumen_anual" style="display:none;">
	<thead>
		<tr>
			<th>Descripción</th><th>Categoría</th><th>Fecha</th><th>Costo</th>
		</tr>
	</thead>
	{% for gast in gastoanual %}
	<tr>
		<td>{{ gast.titulo }}</td><td>{{gast.categoria}}</td><td>{{ gast.fecha_cobro}}</td><td>{{gast.monto}}
		</td>
	</tr>
	{% endfor %}
</table>	


<!-- <table id="gastos1" style="display:none;"></table>
<table id="gastos2" style="display:none;"></table>
<table id="gastos3" style="display:none;"></table>
<table id="gasto_anual" style="display:none;"></table> -->
<!-- <p id="sel" style="display:none;"></p> -->


<div class="center_table">
	<table id="table_resumen"> </table>
</div>

<script>
	document.getElementById('table_resumen').innerHTML = document.getElementById('table_resumen2').innerHTML;
	// document.getElementById('gastos1').innerHTML = "{{gastos1}}";
	// document.getElementById('gastos2').innerHTML = "{{gastos2}}";
	// document.getElementById('gastos3').innerHTML = "{{gastos3}}";
	// document.getElementById('gasto_anual').innerHTML = "{{gasto_anual}}";
</script>
</div>
	</div>
	<div class="parent2" float="right;">
	<br></br>
	<br></br>
	<div class="child1">
		<div id = "containerr"></div>
	</div>
	<div class="child2">
		<div id = "pie"></div>
	</div>
</div>

<script>graphs()</script>

</div>
{% endblock %}
